body, html {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  overflow: hidden;
}

.container {
  height: inherit;
  overflow: hidden;
  display: grid;
  grid-template-rows: 20vh 40vh 20vh 20vh;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  grid-row: 1;
}

#listen {
  grid-row: 2;
  background-color: rgba(70, 80, 90, 0.5);
  padding: 2vh;
  display: flex;
  justify-content: center;
}

#listen button {
  width: 36vh;
  height: 36vh;
  border-radius: 50%;
  font-size: 9em;
}

#suggest {
  grid-row: 3;
  background-color: rgba(90, 70, 80, 0.5)
}

#helga {
  grid-row: 4;
  background-color: rgba(80, 90, 70, 0.5)
}

div {
  height: 100px;
  overflow: auto;
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  background-color: rgba(255,255,255,0.2);
}

ul {
  margin: 0;
}

.hints span {
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
